body{
  background-color: rgb(226, 255, 183);
}

.Cards{
  border: 1px solid black;
  display: inline-block;
  margin: 23px;
  text-align: center;
  width: 200px;
  height: 300px;
  max-width:200px;
  max-height:300px;
  background: rgb(185, 185, 28);
  border-radius: 2px;
}

.PokCards{
  padding-top: 10px;
  border-radius: 10px;
}

h1,p{
  font-size: 20px;
}

.PokHeading{
text-align: center;
font-size: 40px;
}


.Cards img {
  width: 180px;
  height: 180px;
  
}
